<div>
  <div class="heed">
    <div class="big">Create new user</div>
    <button (click)="exit()">X</button>
  </div>
  <form [formGroup]="myForm">
    <label>Username</label>
    <input type="text" [formControlName]="usernameControl">
    <label>First name</label>
    <input type="text" [formControl]="firstNameControl">
    <label>Last name</label>
    <input type="text" [formControl]="lastNameControl">
    <label>Email</label>
    <input type="text" [formControl]="emailControl">
    <label>Type</label>
    <input type="text" [formControl]="typeControl">
    <label>Password</label>
    <input type="text" [formControl]="passwordControl">
    <label>Repeat password</label>
    <input type="text" [formControl]="rPasswordControl">
    <div class="butBox">
      <input type="button" class="but" value="Create" (click)="createUser()">
    </div>
  </form>
</div>
