<div class="heed">
  <div class="big">{{user.name}} {{user.username}}</div>
  <button (click)="exit()">X</button>
</div>
<form>
  <label>Username</label>
  <input type="text">
  <label>First name</label>
  <input type="text">
  <label>Last name</label>
  <input type="text">
  <label>Email</label>
  <input type="text">
  <label>Type</label>
  <input type="text">
  <label>Password</label>
  <input type="text">
  <label>Repeat password</label>
  <input type="text">
  <div class="butBox">
    <input type="button" class="del" value="Delete">
    <input type="button" class="save" value="Save">
  </div>
</form>
