* {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ffffff;
  border-radius: 5px;
}

.users {
  border-radius: 5px;
}

.names {
  display: flex;
  flex-direction: row;
  padding: 20px 10px 10px;
}

.name {
  width: 20%;
}
